<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
       
    </style>    
</head>
<body>
    
    <div class="menu-bar">
        
        <a href="{% url 'upload_inventory' %}"en><h3>Upload Inventory</h3></a>
        <a href="{% url 'notification_list' %}"><h3>Inventory Modification History</h3></a>
        <a href="{% url 'signup' %}"><h3>Register</h3></a>
        <a href="{% url 'home' %}"><h3>Home</h3></a>

        
    </div>    
</body>
</html>
